version: "3.9"
services:
  db:
    image: postgres:16
    container_name: taskflow-db
    restart: always
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "5432:5432"
